Source: interaction-scripts
Section: unknown
Priority: extra
Maintainer: Edward T. Kaszubski <ekaszubski@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/usc-interaction-software
Vcs-Git: http://code.google.com/p/usc-interaction-software
Vcs-Browser: http://code.google.com/p/usc-interaction-software/source/browse

Package: interaction-scripts
Architecture: all
Depends: ${misc:Depends}
Description: A set of scripts related to Interaction Lab procedures
 Tasks include:
 - Building debian packages
 - Updating debian changelogs from git logs
